debug: false

#logging:
#  level:
#    root: DEBUG
#    org.springframework.web: DEBUG
#    org.hibernate: DEBUG
socket:
  connection:
    url: /ws
  measures:
    url: /measures
  allowed: https://localhost:4200
  broker:
    destination: /app
    prefixes: /topic, /user

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    org.hibernate: INFO
    
server:
  port: 8080
  
  # https-config
  ssl:
    key-alias: ms-api
    key-store-password: ms-api
    key-store: classpath:https/key/keystore.p12
    key-store-type: PKCS12
    enabled: true


#development environment
---
spring:

  rabbitmq:
    port: 5672
    host: rabbit #localhost if rabbit goes locally
    username: guest
    password: guest

  liquibase:
    clear-checksums: true #disable cashing
    change-log: db/changelog/changelog.yaml

  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.MySQLDialect
    database: mysql
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

  datasource:
    username: root
    password: root
    url: jdbc:mysql://mysqldb:3306/ms_db?createDatabaseIfNotExist=true
    #if run locally:
    #url: jdbc:mysql://localhost:3306/ms_db?createDatabaseIfNotExist=true

security:
  jwt:
    days-to-expire: 7
    secret: vsitsokroovzahtuokv

#RabbitMQ alert queue configuration
alert-queue:
  name: "notification-queue"
  exchange: "alert-exchange"
  routing-key: "mail-notification"

#swagger page header data
api:
  version: 0.0.1
  contacts: vadym.storozhuk@nure.ua | maksym.viskovatov@nure.ua
  title: Measurement service app

#swagger configuration
springdoc:
  swagger-ui:
    path: /api-docs


#test environment
---
spring:
  config:
    activate:
      on-profile: test-env

  liquibase:
    clear-checksums: true
    change-log: db/changelog/changelog.yaml

  jpa:
    show-sql: false
    database-platform: org.hibernate.dialect.H2Dialect
    database: h2
    hibernate:
      ddl-auto: none

  datasource:
    username: h2db
    password: h2db
    url: jdbc:h2:mem:ms_db_test;MODE=MySQL;NON_KEYWORDS=USER;
