server:
  port: 9090

spring:

  rabbitmq:
    port: 5672
    host: rabbit #localhost if rabbit goes locally
    username: guest
    password: guest

configuration:
  rabbit:
    queue-name: "notification-queue"

  mail:
    host: smtp.gmail.com
    port: 587
    #timout in minutes before sending new alert
    timeout: 5

    #to fill
    # mail from where messages will be sent
    username:
    # password
    password: