<?xml version="1.0" encoding="UTF-8"?><Configuration>    <Properties>        <Property name="PATTERN">[%d{yyyy-MM-dd} %d{HH:mm:ss}] %highlight{[ %-5level ][%C{1}]} %m%n</Property>    </Properties>    <Appenders>        <Console name="Console" target="SYSTEM_OUT">            <PatternLayout disableAnsi="false"                           pattern="${PATTERN}"/>        </Console>    </Appenders>    <Loggers>        <Root level="info">            <AppenderRef ref="Console"/>        </Root>    </Loggers></Configuration>